i {
    font-weight: 800;
}

.pass {
    margin-top: 15px;
}

#btn-google {
    color: #fff;
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

@font-face {
    font-family: 'orkut';
    src: url('../font/HoratioD/HORATIOM.TTF') format('truetype');
}

.text {
    font-family: orkut;
    font-weight: bolder;
}

main {
    display: inline;
    align-items: center;
    align-self: center;
    height: 95vh;
}

.custom {
    margin-top: 20vh;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    height: 5vh;
}

@media (max-width:640px) {
    .custom {
        margin-top: 0;
    }
}